 <% layout('./layouts/boilerplate') %>




    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input required class="form-control" type="text" placeholder="enter txt"  id="title" name="campground[title]" value="<%=campground.title %>">
                </div >
                <div class="mb-8">
                    <label class="form-label" for="location">location</label>
                    <input required class="form-control" type="text" placeholder="enter txt"  id="location" name="campground[location]" value="<%=campground.location %>">
                </div>
   
                <div class="mb-5">
                    <label for="price">Price</label>
                <div class="input-group mb-8">
                    <span class="input-group-text">$</span>
                    <input required type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" name="campground[price]" value="<%=campground.price %>">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
                <div class="mb-8">
                    <label class="form-label" for="description">Description</label>
                    <textarea required class="form-control" type="text" placeholder="<%=campground.description %>"  id="description" name="campground[description]" ><%=campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i){ %>
                        <img class="img-thumbnail" width="100px" height="100px" src="<%=img.thumbnail%>" > 
                        <div class="form-check-inline">
                            <input type="checkbox"  id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>" >
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    <% }) %>
                </div>
                <div class="mb-8" > 
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Your Images</label>
                        <input class="form-control" type="file" id="formFile" name="image" multiple>
                      </div>    
                  
                </div>

                
                <div style="margin-top:30px;">
                    <button class=" btn btn-success" >UPDATE campground</button>
                </div>
            </form>
            
            <a href="/campgrounds/<%=campground._id%>">Back tocampgrounds</a>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.validated-form')
    
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
    
          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>
    
