 <% layout('./layouts/boilerplate') %>




    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" placeholder="enter txt"  id="title" name="campground[title]" value="<%=campground.title %>">
                </div >
                <div class="mb-8">
                    <label class="form-label" for="location">location</label>
                    <input class="form-control" type="text" placeholder="enter txt"  id="location" name="campground[location]" value="<%=campground.location %>">
                </div>
                <div class="mb-8" >
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="url" placeholder="IMG URL"  id="image" name="campground[image]" value="<%=campground.image %>">
                </div>
                <div class="mb-5">
                    <label for="price">Price</label>
                <div class="input-group mb-8">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" name="campground[price]" value="<%=campground.price %>">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
                <div class="mb-8">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" placeholder="<%=campground.description %>"  id="description" name="campground[description]" ><%=campground.description %></textarea>
                </div>
                
                <div style="margin-top:30px;">
                    <button class=" btn btn-success" >UPDATE campground</button>
                </div>
            </form>
            
            <a href="/campgrounds/<%=campground._id%>">Back tocampgrounds</a>
        </div>
    </div>
    
