<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">


<div class="row">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <img src="<%= campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item ">Submitted BY: <%= campground.author.username %></li>
              <li class="list-group-item">$<%= campground.price %>/night</li>
           
            </ul>
            <% if(currentUser &&  campground.author.equals(currentUser._id)){ %> 
            <div class="card-body">
              <a href="/campgrounds/<%=campground._id %>/edit" class="card-link btn btn-warning">Edit</a>
              <form action="/campgrounds/<%=campground._id%>?_method=DELETE"  method="POST" class="d-inline">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
            <%} %>

            <div class="card-footer text-muted">
                3 days ago
            </div>
          </div>  
          
    </div>
    <div class="col-6">
      <% if(currentUser) { %>
      <h2>Leave A ReView.</h2>

          <form action="/campgrounds/<%=campground._id%>/reviews" method="post" class="mb-3 validated-form" novalidate>
            <!-- <div class="mb-3">
              <label for="range" class="form-label">Rating</label>
              <input type="range" name="review[rating]" id="range" class="form-range" min="1" max="5" >
            </div> -->

            <div class="mb-3">
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>


            <div class="mb-3">
              <label class="form-label" for="review">Review</label>
              <textarea class="form-control" name="review[body]" id="review" cols="30" rows="1" ></textarea>
              <div class="valid-feedback">
                This is good
              </div>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>
          <%}%>
          
          <% for (let r of campground.reviews){%>
          <div class="card mb-3">
          <div class="card-body">
            <% let vish = r.author %>  

            <h5 class="card-title"><%=vish.username%></h5>
            <!-- <h3>Rated element name</h3> -->
            <p class="starability-result" data-rating="<%=r.rating%>">
              Rated: <%=r.rating%> stars
            </p>
            <!-- <h6 class="card-subtitle mb-2 text-muted">BY:  </h6> -->
              <p>  <%= r.body %></p>

              <% if(currentUser &&  vish.equals(currentUser._id)){ %> 
              <form action="/campgrounds/<%=campground._id%>/reviews/<%=r._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger btn-sm">Delete</button>
                </form>
                <% } %>

            </div>
          </div>
          <%}%>
    </div>
</div>






    <footer>
        <a href="/campgrounds">All campground</a>
    </footer>
    
