<% layout('./layouts/boilerplate') %>


<div class="row">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <img src="<%= campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item ">Submitted BY: <%= campground.author.username %></li>
              <li class="list-group-item">$<%= campground.price %>/night</li>
           
            </ul>
            <% if(currentUser &&  campground.author.equals(currentUser._id)){ %> 
            <div class="card-body">
              <a href="/campgrounds/<%=campground._id %>/edit" class="card-link btn btn-warning">Edit</a>
              <form action="/campgrounds/<%=campground._id%>?_method=DELETE"  method="POST" class="d-inline">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
            <%} %>

            <div class="card-footer text-muted">
                3 days ago
            </div>
          </div>  
          
    </div>
    <div class="col-6">
      <% if(currentUser) { %>
      <h2>Leave A ReView.</h2>

          <form action="/campgrounds/<%=campground._id%>/reviews" method="post" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
              <label for="range" class="form-label">Rating</label>
              <input type="range" name="review[rating]" id="range" class="form-range" min="1" max="5" name="" id="">
            </div>
            <div class="mb-3">
              <label class="form-label" for="review">Review</label>
              <textarea class="form-control" name="review[body]" id="review" cols="30" rows="1" ></textarea>
              <div class="valid-feedback">
                This is good
              </div>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>
          <%}%>
          
          <% for (let r of campground.reviews){%>
          <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%=r.rating%></h5>
            <% let vish = r.author %>  
            <h6 class="card-subtitle mb-2 text-muted">BY: <%=vish.username%> </h6>
              <p>  <%= r.body %></p>

              <% if(currentUser &&  vish.equals(currentUser._id)){ %> 
              <form action="/campgrounds/<%=campground._id%>/reviews/<%=r._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger btn-sm">Delete</button>
                </form>
                <% } %>

            </div>
          </div>
          <%}%>
    </div>
</div>






    <footer>
        <a href="/campgrounds">All campground</a>
    </footer>
    
